.page {
  --background: var(--ion-color-primary-contrast);
}

.wrap {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 0 !important;
}

ion-card-title {
  font-weight: 700;
  color: var(--ion-color-primary);
}

ion-card-subtitle {
  font-size: 16px !important;
  text-transform: none;
  font-weight: 400;
}

ion-button.regular {
  margin: 10px 0 0;
}
